$padding: 10px;

* {
  padding: 0; 
  margin: 0;
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
  text-decoration: none;
  list-style: none;
}

.main {
  background-color: black;
  height: 100vh;
  display: grid;
  grid-template-rows: 100px 1fr;
}

.header {
  width: max-content;
  overflow-x: hidden;
  &__list {
    height: 100%;
    display: flex;
    align-items: center;
    &-item {
      border: 1px solid white;
      border-radius: 1.5em;
      padding: 10px 15px;
      margin-right: $padding;
      &:first-child {
        margin-left: $padding;
        background-color: white;
        a{
          color: black;
        }
      }
      a {
        color: white;
      }
    }
  }
}
.box {
  &__title {
    font-size: 1.8em;
    line-height: 1;
  }
  &__footer {
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .price {
      border-radius: 2em; 
      border: 1px solid black; 
      padding: 8px $padding;       
    }
    .length {
      border-radius: 50%;
      border: 1px solid black;
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
    } 
  }
}

.boxs {
  font-family: 'Nanum Myeongjo', serif;
  text-decoration: none;
  list-style-type: none;
  height: 100%;
  width: 100vw;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4,1fr);
  padding: 0 15px;
  gap: 8px;
  &__box {
    background-color: white;
    border-radius: 1.5em;
    padding: 1em;
    line-height: 130%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-weight: 500;
    &:first-child{
      background-color: #292D33;
      color: white;
      border: 1px solid white;
    }
    &:nth-child(2) {
        background-color: #FDFDFC;
    }
    &:nth-child(3) {
      background: linear-gradient(rgba(247, 252, 178, 1), #FBFECF);
      .price {
        background-color: #e09cef;
      }
    }
    &:nth-child(4) {
      background: linear-gradient(#AB97F4, #D0C4FE);
      word-spacing: 20px;
    }
    &:nth-child(5) {
      background: linear-gradient(#FFCFCF, #FFDCDC);
      word-spacing: 20px;
      .price {
        background-color: #e09cef;
      }
    }
    &:nth-child(6) {
      background: linear-gradient(#CEFEDC, #cefedcec);
    }
    &:nth-of-type(2n) {
      .price {
        background-color: yellow;
      }
    }
    &:nth-of-type(3n) {
      grid-column: span 2;
      .box__footer {
        .length {
          width: max-content;
          padding: 5px $padding;
          border-radius: 2em;
        }
      }
    }
  }
}


  // 
  // 



      
    
  
