@import "./reset.scss";

$padding: 10px;

* {
  text-decoration: none;
  list-style: none;
}

body {
  background: #dce6d1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.phone {
  background-color: black;
  border-radius: 50px;
  height: 850px;
  width: 420px;
  padding: 50px 20px;
  box-sizing: border-box;
}

.header {
  overflow-x: hidden;
  &__list {
    display: flex;
    gap: 10px;
    color: white;
    width: max-content;
    &-item {
      border: 1px solid rgba($color: #fff, $alpha: 0.8);
      border-radius: 1.5em;
      padding: 10px 15px;
      &--inverted {
        background-color: white;
        color: black;
      }
    }
  }
}
.boxs {
  margin: 20px 0px;
  display:grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  .boxs__box {
    background-color: white;
    padding: 10px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: space-between;
    .box__title {
      font-size: 28px;
      line-height: 1.2;
    }
    .box__footer {
      font-size: 14px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      span {
        padding: 5px 10px;
        border-radius: 20px;
        border: 1px solid black;
      }
      .price {
        background-color: rgb(255, 221, 44);
      }
      .length {
        background-color: white;
      } 
    }
    &:first-child {
      background-color: #292d33;
      border: 1px solid white;
      color: white;
      .box__footer {
        flex-direction: column;
        align-items: start;
        padding: 5px;
      }
      .percent{
        &-number {
          color: white;
          border: none;
          margin-bottom: 5px;
          font-size: 20px;
          padding-left: 0;
        }
        &-bar {
          background-color: rgb(63, 63, 63);
          width: 100%;
          height: 5px;
          border-radius: 1rem;
          &--white {
            border-radius: inherit;
            width: 55%;
            height: 100%;
            background-color: whitesmoke
            ;
          }
        }
      }
    }
    &:nth-child(2) {
      background-color: #FDFDFC;
    }
    &:nth-child(3) {
      background: linear-gradient(rgba(247, 252, 178, 1), #FBFECF);
      .price {
        background-color: #e09cef;
      }
    }
    &:nth-child(4) {
      background: linear-gradient(#AB97F4, #D0C4FE);
      word-spacing: 20px;
    }
    &:nth-child(5) {
      background: linear-gradient(#FFCFCF, #FFDCDC);
      word-spacing: 20px;
      .price {
        background-color: #e09cef;
      }
    }
    &:nth-child(6) {
      background: linear-gradient(#CEFEDC, #cefedcec);
    }
    &:nth-child(3n) {
      grid-column: span 2;
    }
  }
}